@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {
    --primary: #46a358;
    --second: #3d3d3d;
    --bg: #FBFBFB;
}

.discount {
  background-image: url("./assets/images/discount.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


